{% extends 'base.html' %}
{% block content %}
{% include 'navbar.html' %}

<div class="container">
    <h1 style="text-align:center;margin-top:20px;"><i><u>Details</u></i></h1>
    <div style="font-size:19px;width:400px;margin-left:450px;margin-top:70px;">
        <table cellpadding="10px">
            <tr>
                <td>Name:</td>
                <td>Ajith N A</td>
            </tr>
            <tr>
                <td>Address:</td>
                <td>Nanthikattu House<br>Muhamma P O<br>Alappuzha<br>pin:688525</td>
            </tr>
            <tr>
                <td>Email:</td>
                <td>ajithna1234@gmail.com</td>
            </tr>
            <tr>
                <td>Skype id:</td>
                <td><a href="live:.cid.470daa43c21ec456">live:.cid.470daa43c21ec456</a> </td>
            </tr>
            <tr>
                <td>Linkedin:</td>
                <td><a href="www.linkedin.com/in/ajithna">www.linkedin.com/in/ajithna</a></td>
            </tr>
        </table>
    </div>
</div>


{% endblock %}